.t-h1 {
	color: $gray-dark;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 2.27px;
}

.t-button {
	font-size: 20px;
	font-weight: bold;
}

.t-h2-lg {
	color: $black;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 1.17px;
}

.t-h2-md {
	color: $black;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1.17px;
}

.t-h2 {
	color: $black;
	font-size: 23px;
	font-weight: 700;
	letter-spacing: 1.17px;
	line-height: 1.2;
}

.t-h3 {
	color: $black;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: .83px;
}

.t-h4 {
	color: $black;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .83px;
}

p,
.t-p {
	color: $gray;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.t-p-md {
	color: $gray;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
}

.t-p-lg {
	color: $gray;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}

.t-bold {
	font-weight: 700;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.t-blue {
	color: #0694ea;
}

.t-black {
	color: $black;
}

.t-white {
	color: $white;
}

.t-oblique {
	font-style: oblique;
}

@media screen and (max-width: 991px) {
	.t-h1 {
		font-size: 39px;
	}
}

@media screen and (max-width: 575px) {
	.t-h1 {
		font-size: 25px;
		font-size: 7vw;
	}

	.t-h2-lg { 
		font-size: 20px;
		font-size: 6.5vw;
	}

	.t-h2-md {
		font-size: 18px;
		font-size: 6.2vw;
	}

	.t-p-lg {
		font-size: 16px;
	}
}